
#sidebar {
   float: right;
   background-color: darkred;

}


#header {
    position: absolute;
    background-color: darkred;
    width: 786px;
    height: 136px;
    color: ghostwhite;
    text-align: center;
    font-size: 20px;
    margin: auto;
    left: 247px;
    font-family: sans-serif;
}

#sidebar1 {
    float: left;
    background-color: darkred;


}

#button1 {
    background-color: darkred;
    float: left;
    border-radius: 10px;
    height: 30px;
    width: 70px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
}

body {
    margin: 0;
    background-color: black;

}

#buttonrelay
{
    background-color: black;
    position: absolute;
    height: 45px;
    width: 100%;
    top: 136px;
    border-top: solid black 4px;

}

a:link{color:ghostwhite;}
a:visited{color:ghostwhite;}

#button2 {
    background-color: darkred;
    float: left;
    border-radius: 10px;
    height: 30px;
    width: 120px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
}

#button3 {
    background-color: darkred;
    float: left;
    border-radius: 10px;
    height: 30px;
    width: 70px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
}

#button4 {
    background-color: darkred;
    float: left;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
}

#button5 {
    background-color: darkred;
    float: left;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
}

#button6 {
    background-color: darkred;
    float: left;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
}

#front {
    width: 800px;
    height: 1000px;
    padding-right: 5px;
    padding-left: 5px;
    background-image: url("../img/gyros.jpg");
    float: left;

}
h3 {
    color: ghostwhite;
}
